.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 768px;
    height: 835px;
    background: #123D72;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content {
    width: 543px;
    height: 618px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    width: 326px;
    height: 192px;
    font-size: 64px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}

.input {
    width: 459px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.casing {
    width: 459px;
    height: 66px;
    background: #D9D9D9;
    border-radius: 12px;
    color: #606060;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.casing input {
    height: 100%;
    width: 364px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.casing div{
    width: 95px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.content p {
    width: 495px;
    height: 66px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.content button {
    width: 223px;
    height: 66px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}