@tailwind base;
@tailwind components;
@tailwind utilities;

/* #uni{
    top: 10px;
    left: 226px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;

} */